body, ul, li, p { /* reset de estilos... */
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none; /* removendo a decoração dos links */
}

.header {
    background: #1d1e20;
    display: flex; /* definição do display flex */
    flex-wrap: wrap; /* alinha a informação de acordo com o tamanho do dispositivo */
    justify-content: space-between; /* define um espaço entre dois conteudos */
    padding: 20px; /* espaçamento interno */
    align-items: center; /* alinha os itens no centro */

    border: red solid 1px;
}

.menu-nav {
    display: flex;   
}

.menu-nav li {
    margin-left: 10px;
}

.menu-nav li a {
    display: block;
    padding: 10px;
}